/* ------------- Carousel ----------------- */
h2.carousel_heading {
  width: 100%;
  max-width: var(--content-max-width);
  text-align: center;
  margin: 3vh 0 8vh 0;
}

.carousel {
  width: 100%;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
}

.carousel-body {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  max-width: var(--content-max-width);
}

.carousel-body::-webkit-scrollbar {
  display: none;
}

.carousel-button {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--bg-emphasize);
  transition: background-color .2s ease, transform .1 ease;
  opacity: .8;
}

.carousel-button.active {
  opacity: 1;
}

.carousel-button.active:hover {
  cursor: pointer;
  background-color: var(--bg-dark);
}

.carousel-button.active:active {
  transform: scale(0.96);
}

.carousel-button svg {
  opacity: .2;
  transition: .2s ease;
}

.carousel-button.active svg {
  opacity: 1;
}

.carousel-next-rec {
  margin-left: 50px;
}

.carousel-next-rec svg {
  transform: rotate(180deg);
}

.carousel-prev-rec {
  margin-right: 50px;
}

.carousel-body .carousel-list {
  padding-left: 0;
  transition: transform .7s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.carousel-listitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-right: 30px;
}

.carousel-listitem img {
  height: 40vh;
  border-radius: 4px;
}