.landingpage {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* ---- particles.js ---- */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

/* ---- particles.js end ---- */
.landingpage .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.landingpage .content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  color: var(--secondary);
  z-index: 50;
}

.landingpage .content h2 span {
  color: var(--secondary);
  text-decoration: underline;
}

.landingpage .content h1 {
  font-size: 4.5rem;
  width: 80%;
  z-index: 50;
}

.landingpage .content h1 span.hightlight {
  color: var(--primary);
}

#profile_picture {
  display: none;
  width: 30vw;
  position: absolute;
  right: 17vw;
  top: 24vh;
  z-index: 2;
}

.projects {
  background-color: var(--bg-lighter);
  width: 100%;
  padding: 8% 0;
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-list a {
  display: block;
  width: 100%;
}

.projects-list .project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  border-top: 1px solid var(--card-border);
  border-top: 1px solid var(--card-border);
}

.projects-list .project .container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}

.projects-list .project .container .image {
  width: 42%;
  margin-right: 8%;
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects-list .project .container .image img {
  width: 100%;
  border-radius: 6px;
  transition: .4s ease;
}

.project[onclick]:hover, .project[href]:hover {
  cursor: none;
}

.project[href]:hover .custom-cursor svg {
  transform: rotate(135deg);
}

.project:hover .image img {
  transform: scale(1.1);
}

.projects-list .info {
  width: 40%;
}

.projects-list h3 {
  font-size: 1.2rem;
}

.projects-list p {
  color: var(--text-tertiary);
}

.about {
  padding: 9% 0 11% 0;
}

.about h2 {
  color: var(--primary);
}

.about p {
  font-size: 2.7rem;
  width: 80%;
  letter-spacing: -1px;
  line-height: 150%;
  font-weight: 500;
}

.clients {
  background-color: var(--bg-lighter);
  width: 100%;
  padding: 8% 0;
}

.clients .clients-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clients-list .client {
  width: 31%;
  height: 200px;
  margin-bottom: 2.5%;
  background-color: var(--bg-emphasize);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.client img {
  max-height: 20%;
  max-width: 53%;
  filter: brightness(0) invert(1);
  opacity: .9;
}

.client img#waldsamkeit {
  max-width: 47%;
  max-height: 33%;
}

html[data-theme="theme-light"] .client img {
  filter: brightness(0);
  opacity: .6;
}

.images {
  background-color: var(--bg-lighter);
  padding: 9% 0;
}

.contact {
  padding: 8% 0;
}

label {
  display: block;
  margin: 2% 0 1% 0;
  color: var(--text-secondary);
}

input:not([type=submit]), textarea {
  display: block;
  width: 70%;
  font-size: 1.1rem;
  padding: 1%;
  background-color: var(--bg-lighter);
  border: 1px solid var(--card-border);
  border-radius: 4px;
  margin-bottom: 2%;
}

textarea {
  font-size: 1rem;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--primary);
}

input.error, textarea.error {
  border-color: var(--secondary);
}

.error_message:before {
  content: "⚠️";
  margin-right: 3px;
  font-size: 1rem;
}

.error_message {
  color: var(--secondary);
  font-size: 0.9rem;
  margin-top: -1.5%;
  margin-bottom: 2%;
}

span#submit {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1.3% 6%;
  margin-top: 3%;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  transition: .1s ease;
}

span#submit:hover {
  cursor: pointer;
  background-color: var(--primary-light);
}

#sent_message span {
  color: var(--primary-light);
  font-size: 1.1rem;
}

@media only screen and (max-width: 450px) {
  .landingpage .content h2 {
    font-size: 1.5rem;
  }

  .landingpage .content h1 {
    font-size: 2.5rem;
    width: 100%;
  }

  #profile_picture {
    width: 75vw;
    right: 10vw;
    top: 5vh;
  }

  .projects {
    padding: 20% 0;
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .project-list a {
    display: block;
    width: 100%;
  }

  .projects-list .project {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10% 0;
  }

  .projects-list .project .container {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .projects-list .project .container .image {
    width: 90%;
    margin-right: 0;
  }

  .projects-list .info {
    width: 100%;
  }

  .projects-list h3 {
    font-size: 1.3rem;
    margin: 5% 0 2% 0;
  }

  .projects-list p {
    font-size: 1.1rem;
  }

  .projects-list .branche, .projects-list .date {
    display: none;
  }

  .about {
    padding: 30% 0;
  }

  .about p {
    font-size: 1.6rem;
    width: 100%;
    letter-spacing: -0.5px;
    line-height: 150%;
    font-weight: 400;
  }

  .clients {
    padding: 30% 0;
  }

  .clients h2 {
    margin-bottom: 12%;
  }

  .clients-list .client {
    width: 100%;
    height: 150px;
    margin-bottom: 2%;
  }

  .contact {
    padding: 25% 0;
  }

  .contact h2 {
    margin-bottom: 12%;
  }

  label {
    font-size: 1.1rem;
    margin-top: 8%;
  }

  input:not([type=submit]), textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 3%;
  }

  textarea {
    font-size: 1.1rem;
  }

  input[type=submit] {
    font-size: 1.2rem;
    padding: 4% 15%;
    margin-top: 10%;
  }

  span#submit {
    font-size: 1.1rem;
    padding: 3.5% 8%;
    margin-top: 4%;
  }
}