:root {
  /* Font/text values */
  --fontFamily: sans-serif;
  /* Positioning */
  --content-width: 90%;
  --content-max-width: 1400px;
  --header-height: 70px;
}

:root[data-theme="theme-dark"] {
  /* Colors: */
  --primary: #6b31f5;
  --primary-light: #865ee4;
  --card-border: #FFFFFF12;
  --bg-emphasize: #0C11154D;
  --bg-dark: #0C1115;
  --bg-lighter: #1F242A;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFFB3;
  --text-tertiary: #7B8898;
  --shadow-color: #00000059;
}

:root[data-theme="theme-light"] {
  --primary: #6b31f5;
  --primary-light: #865ee4;
  --card-border: #00000012;
  --bg-emphasize: #E6DDD44D;
  --bg-dark: #ffffff;
  --bg-lighter: #eaeaea;
  --text-primary: #161616;
  --text-secondary: #161616B3;
  --text-tertiary: #6e6e6e;
  --shadow-color: #0000000f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
  color: var(--text-primary);
  transition: background-color .5s ease, color .5s ease;
}

body {
  background-color: var(--bg-dark);
  /* transition: background-color 2s ease; */
  padding: 0 2%;
}

button {
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 1% 3%;
  transition: .2s ease;
}

button.primary {
  color: #fff;
  background-color: var(--primary);
}

button.secondary {
  color: var(--text-primary);
  background-color: var(--bg-emphasize);
}

button:hover {
  cursor: pointer;
}

button.primary:hover {
  background-color: var(--primary-light);
}

button.secondary:hover {
  background-color: var(--bg-dark);
}

button:active {
  transform: scale(0.95);
}

.start_banner {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  left: 10vw;
  bottom: 2vh;
  padding: 1% 1.5%;
  background-color: var(--bg-lighter);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  transition: transform .15s ease-out;
}

.start_banner:hover {
  transform: scale(1.02);
}

.start_banner .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.start_banner .info span.icon {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.start_banner .info p {
  color: var(--text-primary);
  margin-left: 2%;
}

.start_banner button#denie_cookies {
  margin-right: 10px;
}

.progress-ring_circle {
  stroke-dasharray: 62.8;
  stroke-dashoffset: 62.8;
  animation: dash;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: var(--text-primary);
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 62.8;
  }
}

input {
  font-size: 1em;
  padding: .7% .5%;
  margin: 1% 0 1% 0;
  background-color: var(--bg-lighter);
  border: 1px solid var(--card-border);
  border-radius: 3px;
}

h3 {
  margin-top: 4%;
  margin-bottom: 1%;
}
