@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'NeueMetana';
  src: url('../font/NeueMetana-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMetana';
  src: url('../font/NeueMetana-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Font/text values */
  --fontFamily: 'Space Grotesk', sans-serif;
  /* Positioning */
  --content-width: 90%;
  --content-max-width: 1400px;
  --header-height: 75px;
  --content-width: 65%;
}

:root[data-theme="theme-dark"] {
  /* Colors: */
  --primary: #6b31f5;
  --primary-light: #865ee4;
  --secondary: #e9e81f;
  --card-border: #FFFFFF12;
  --bg-emphasize: #0C11154D;
  --bg-dark: #0C1115;
  --bg-lighter: #1F242A;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFFB3;
  --text-tertiary: #7B8898;
  --shadow-color: #00000059;
}

:root[data-theme="theme-light"] {
  --primary: #6b31f5;
  --primary-light: #865ee4;
  --secondary: #e5c405;
  --card-border: #00000012;
  --bg-emphasize: #E6DDD44D;
  --bg-dark: #ffffff;
  --bg-lighter: #eaeaea;
  --text-primary: #161616;
  --text-secondary: #161616B3;
  --text-tertiary: #6e6e6e;
  --shadow-color: #0000000f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily);
  color: var(--text-primary);
  transition: background-color .5s ease, color .5s ease;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-dark);
  /* transition: background-color 2s ease; */
  /* padding: 0 2%; */
}

a {
  text-decoration: none;
  transition: .2s ease;
  color: var(--text-secondary);
}

a:hover {
  color: var(--text-primary);
}

h2 {
  padding: 2% 0 5% 0;
}

button {
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 1% 3%;
  transition: .2s ease;
}

button.primary {
  color: #fff;
  background-color: var(--primary);
}

button.secondary {
  color: var(--text-primary);
  background-color: var(--bg-emphasize);
}

button:hover {
  cursor: pointer;
}

button.primary:hover {
  background-color: var(--primary-light);
}

button.secondary:hover {
  background-color: var(--bg-dark);
}

button:active {
  transform: scale(0.95);
}

input:focus {
  outline: none;
  border-color: var(--primary);
}

input.error {
  border-color: var(--secondary);
}

.error_message:before {
  content: "⚠️";
  margin-right: 3px;
  font-size: 1rem;
}

.error_message {
  color: var(--secondary);
  font-size: 0.9rem;
}

.start_banner {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
  left: calc((100vw - var(--content-width))/2);
  bottom: 2vh;
  padding: 1% 1.5%;
  background-color: var(--bg-lighter);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  transition: transform .15s ease-out;
}

.start_banner:hover {
  transform: scale(1.02);
}

.start_banner .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.start_banner span.icon {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.start_banner .info p {
  color: var(--text-primary);
  margin-left: 2%;
}

.start_banner button#denie_cookies {
  margin-right: 10px;
}

.banner_close_button:hover {
  cursor: pointer;
}

.progress-ring_circle {
  stroke-dasharray: 62.8;
  stroke-dashoffset: 62.8;
  animation: dash;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: var(--text-primary);
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 62.8;
  }
}

label {
  display: block;
  margin: 1.4% 0 .5% 0;
}

input {
  display: block;
  font-size: 1em;
  padding: .7% .5%;
  margin: .2% 0 0% 0;
  background-color: var(--bg-lighter);
  border: 1px solid var(--card-border);
  border-radius: 3px;
}

h3 {
  margin-top: 4%;
  margin-bottom: 1%;
}

.cookie_toggle_modal {
  position: fixed;
  right: 2vh;
  bottom: 2vh;
  padding: .8%;
  background-color: var(--bg-dark);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  transition: .3s ease;
  z-index: 9;
}

.cookie_toggle_modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cookie_toggle_modal .hidden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 0px;
  height: 100%;
  transition: .3s ease;
  overflow: hidden;
  margin-left: 3%;
}

.cookie_toggle_modal .hidden button {
  white-space: nowrap;
  width: 250px;
  margin-left: 5%;
}

.cookie_toggle_modal:hover {
  background-color: var(--bg-lighter);
  cursor: pointer;
}

.cookie_toggle_modal:hover>.hidden {
  max-width: 420px;
}

#toogle_cookies_button {
  padding: 3% 5%;
}

.scrollBar {
  position: fixed;
  top: calc(var(--header-height) - 4px);
  left: 0;
  height: 4px;
  width: 0%;
  background: var(--primary);
  z-index: 99;
  transition: width 200ms var(--timing);
}

header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-lighter);
  z-index: 999;
  border-bottom: 1px solid var(--card-border);
}

header .inner {
  width: var(--content-width);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .left {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header .left span {
  font-size: 1.1rem;
}

header .left img {
  height: 40%;
  margin-right: 5%;
}

header .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 70%;
}

header .right .desktop-navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header .right .desktop-navigation a {
  padding-right: 4%;
}

header .right .desktop-navigation .changer {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
}

header .right .desktop-navigation .changer:hover {
  cursor: pointer;
  transform: rotate(45deg);
}

.wrapper {
  padding-top: var(--header-height);
}

.content {
  width: var(--content-width);
  margin: 0 auto;
}