:root {
  --fontColor: #111111;
  /* Font/text values */
  --fontFamily: sans-serif;
  /* Positioning */
  --content-width: 90%;
  --content-max-width: 1400px;
  --header-height: 70px;
}

:root[data-theme="theme-dark"] {
  /* Colors: */
  --primary: #6b31f5;
  --primary-light: #865ee4;
  --card-border: #FFFFFF12;
  --bg-emphasize: #0C11154D;
  --bg-dark: #0C1115;
  --bg-lighter: #1F242A;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFFB3;
  --text-tertiary: #7B8898;
  --shadow-color: #00000059;
}

:root[data-theme="theme-light"] {
  --primary: #aff531;
  --primary-light: #a1dc32;
  --card-border: #00000012;
  --bg-emphasize: #E6DDD44D;
  --bg-dark: #f4f0eb;
  --bg-lighter: #fbf8f5;
  --text-primary: #161616;
  --text-secondary: #161616B3;
  --text-tertiary: #6e6e6e;
  --shadow-color: #0000000f;
}

* {
  font-family: var(--fontFamily);
}

button {
  font-weight: bold;
  color: #fff;
  background-color: var(--primary);
}

button:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.start_banner {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  left: 10vw;
  bottom: 2vh;
  padding: 1% 1.5%;
  background-color: #000;
  border-radius: 10px;
  transition: transform .15s ease-out;
  box-shadow: 2px 2px 20px #00000011;
}

.start_banner#welcome_banner {
  background-color: #000000cc;
}

.start_banner:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 25px #00000011;
}

.start_banner .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.start_banner .info span.icon {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.start_banner .info p {
  color: #ffffff;
  margin-left: 2%;
}

.start_banner button {
  border: none;
  border-radius: 5px;
  padding: 1.5% 3%;
  transition: .2s ease;
}